type project
owners
    James Johnson
authors 
    James Johnson
projectUrl
    http://github.com/jim@moverve.com/vested-interest
iconUrl
    https://raw.githubusercontent.com/jim@moverve.com/vested-interest/master/docs/files/img/logo.png
licenseUrl
    http://github.com/jim@moverve.com/vested-interest/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    F#
summary
    Record investment activity and track results
description
    Description not set


